/****** Object:  StoredProcedure [dbo].[sp_utilPopulateProfileRelations]    Script Date: 7/14/2015 8:00:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_utilPopulateProfileRelations]asbegin      /*    This procedure will completely rebuild the ProfileRelations table. */      declare            @dist int,            @count int      delete from dba.ProfileRelations      insert into dba.ProfileRelations( ProfileName, Parent, dist)      select ProfileName, Parent, 1      from dba.Profiles      where Parent is not null      and Parent != ''      select @count=@@rowcount, @dist=2      while( @count > 0) begin            insert into dba.ProfileRelations( ProfileName, Parent, Dist)            select pr.ProfileName, p.parent, @dist            from dba.Profiles p                  inner join dba.ProfileRelations pr on p.ProfileName = pr.parent            where p.Parent is not null            and p.Parent != ''            and pr.Dist = (@dist - 1)                  select @count=@@rowcount, @dist = @dist + 1      endEND      CREATE TABLE [dba].[ProfileRelations] (            [ProfileName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,            [Parent] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,            [Dist] [int] not null default 1      ) ON [PRIMARY];      CREATE INDEX [idx_ProfileRelations_ProfileName] ON [DBA].[ProfileRelations] (      [ProfileName] ASC); CREATE INDEX [idx_ProfileRelations_Parent] ON [DBA].[ProfileRelations] (      [Parent] ASC) 
GO
