/****** Object:  StoredProcedure [dbo].[sp_sqlcm_UpdateEventTypes]    Script Date: 7/14/2015 7:35:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_sqlcm_UpdateEventTypes]
as
BEGIN
	DELETE FROM [EventTypes];
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (-1,-1,''Invalid'',''Invalid'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1,5,''Select'',''Select'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (2,4,''Update'',''DML'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (4,5,''References'',''Select'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (8,4,''Insert'',''DML'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (16,4,''Delete'',''DML'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (32,4,''Execute'',''DML'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (50,1,''Login'',''Login'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (51,1,''Login Failed'',''Login'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (52,1,''Server impersonation'',''Login'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (53,1,''Database impersonation'',''Login'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (54,3,''Disable login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (55,3,''Enable login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (62,6,''Backup'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (63,6,''Restore'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (64,6,''Backup database'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (65,6,''Backup log'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (66,6,''Backup Table'',''Admin'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (71,6,''Trace started'',''Trace'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (72,6,''Trace stopped'',''Trace'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (80,6,''DBCC'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (81,6,''DBCC - read'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (82,6,''DBCC - write'',''Admin'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (90,6,''Server operation'',''Admin'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (91,6,''Database operation'',''Admin'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (92,6,''Server alter trace'',''Admin'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (93,8,''Broker Conversation'',''Broker'',1,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (94,8,''Broker Login'',''Broker'',1,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (100,2,''Create'',''DDL'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (101,2,''Create index'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (102,2,''Create database'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (103,2,''Create user object'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (105,2,''Create DEFAULT'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (108,2,''Create stored procedure'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (109,2,''Create UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (110,2,''Create rule'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (111,2,''Create repl filter stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (113,2,''Create trigger'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (114,2,''Create inline function'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (115,2,''Create table valued UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (117,2,''Create user table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (118,2,''Create view'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (119,2,''Create ext stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (122,2,''Create statistics'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (125,2,''Create Server Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (126,2,''Create CLR Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (127,2,''Create Full Text Catalog'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (128,2,''Create CLR Stored Procedure'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (129,2,''Create Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (130,3,''Create Credential'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (131,2,''Create DDL Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (132,2,''Create Management Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (133,2,''Create Security Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (134,2,''Create User Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (135,2,''Create CLR Aggregate Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (136,2,''Create Partition Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (137,2,''Create Table Valued SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (139,3,''Create Microsoft Windows Group'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (140,2,''Create Asymmetric Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (141,2,''Create Master Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (142,2,''Create Symmetric Key'',''DDL'',1,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (143,3,''Create Asymmetric Key Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (144,3,''Create Certificate Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (145,3,''Create Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (146,3,''Create SQL Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (147,3,''Create Windows Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (148,2,''Create Remote Service Binding'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (149,2,''Create Event Notification On Database'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (150,2,''Create Event Notification'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (151,2,''Create Scalar SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (152,2,''Create Event Notification On Object'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (153,2,''Create Synonym'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (154,2,''Create End Point'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (155,2,''Create Service Broker Service Queue'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (156,3,''Create Application Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (157,3,''Create Certificate'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (159,2,''Create Transact SQL Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (160,2,''Create Assembly'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (161,2,''Create CLR Scalar Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (162,2,''Create Partition Scheme'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (163,2,''Create User Object'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (164,2,''Create Service Broker Service Contract'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (165,2,''Create CLR Table Valued Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (167,2,''Create Service Broker Message Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (168,2,''Create Service Broker Route'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (169,3,''Create User'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (170,2,''Create Service Broker Service'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (172,2,''Create XML Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (173,2,''Create Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (200,2,''Alter'',''DDL'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (201,2,''Alter index'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (202,2,''Alter database'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (203,2,''Alter user object'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (205,2,''Alter DEFAULT'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (208,2,''Alter stored procedure'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (209,2,''Alter UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (210,2,''Alter rule'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (211,2,''Alter repl filter stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (212,2,''Alter system table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (213,2,''Alter trigger'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (214,2,''Alter inline function'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (215,2,''Alter table valued UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (217,2,''Alter user table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (218,2,''Alter view'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (222,2,''Alter statistics'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (225,2,''Alter Server Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (226,2,''Alter CLR Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (227,2,''Alter Full Text Catalog'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (228,2,''Alter CLR Stored Procedure'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (229,2,''Alter Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (230,3,''Alter Credential'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (235,2,''Alter CLR Aggregate Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (236,2,''Alter Partition Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (237,2,''Alter Table Valued SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (240,2,''Alter Asymmetric Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (241,2,''Alter Master Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (242,2,''Alter Symmetric Key'',''DDL'',1,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (245,3,''Alter Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (251,2,''Alter Scalar SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (254,2,''Alter End Point'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (255,2,''Alter Service Broker Service Queue'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (256,3,''Alter Application Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (257,3,''Alter Certificate'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (259,2,''Alter Transact SQL Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (260,2,''Alter Assembly'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (261,2,''Alter CLR Scalar Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (262,2,''Alter Partition Scheme'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (263,2,''Alter User Object'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (265,2,''Alter CLR Table Valued Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (267,2,''Alter Service Broker Message Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (268,2,''Alter Service Broker Route'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (269,3,''Alter User'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (270,2,''Alter Service Broker Service'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (272,2,''Alter XML Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (273,2,''Alter Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (300,2,''Drop'',''DDL'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (301,2,''Drop index'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (302,2,''Drop database'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (303,2,''Drop user object'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (305,2,''Drop DEFAULT'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (308,2,''Drop stored procedure'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (309,2,''Drop UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (310,2,''Drop rule'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (311,2,''Drop repl filter stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (313,2,''Drop trigger'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (314,2,''Drop inline function'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (315,2,''Drop table valued UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (317,2,''Drop user table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (318,2,''Drop view'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (319,2,''Drop ext stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (322,2,''Drop statistics'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (325,2,''Drop Server Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (326,2,''Drop CLR Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (327,2,''Drop Full Text Catalog'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (328,2,''Drop CLR Stored Procedure'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (329,2,''Drop Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (330,3,''Drop Credential'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (331,2,''Drop DDL Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (332,2,''Drop Management Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (333,2,''Drop Security Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (334,2,''Drop User Event'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (335,2,''Drop CLR Aggregate Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (336,2,''Drop Partition Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (337,2,''Drop Table Valued SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (339,3,''Drop Microsoft Windows Group'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (340,2,''Drop Asymmetric Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (341,2,''Drop Master Key'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (342,2,''Drop Symmetric Key'',''DDL'',1,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (343,3,''Drop Asymmetric Key Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (344,3,''Drop Certificate Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (345,3,''Drop Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (346,3,''Drop SQL Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (347,3,''Drop Windows Login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (348,2,''Drop Remote Service Binding'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (349,2,''Drop Event Notification On Database'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (350,2,''Drop Event Notification'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (351,2,''Drop Scalar SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (352,2,''Drop Event Notification On Object'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (353,2,''Drop Synonym'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (354,2,''Drop End Point'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (355,2,''Drop Service Broker Service Queue'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (356,3,''Drop Application Role'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (357,3,''Drop Certificate'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (359,2,''Drop Transact SQL Trigger'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (360,2,''Drop Assembly'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (361,2,''Drop CLR Scalar Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (362,2,''Drop Partition Scheme'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (363,2,''Drop User Object'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (364,2,''Drop Service Broker Service Contract'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (365,2,''Drop CLR Table Valued Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (367,2,''Drop Service Broker Message Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (368,2,''Drop Service Broker Route'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (369,3,''Drop User'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (370,2,''Drop Service Broker Service'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (372,2,''Drop XML Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (373,2,''Drop Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (400,3,''Grant object Permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (500,3,''Deny object permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (600,3,''Revoke object permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (700,3,''Add database user'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (701,3,''Drop database user'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (702,3,''Grant database access'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (703,3,''Revoke database access'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (704,3,''Add login to server role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (705,3,''Drop login from server role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (706,3,''Add member to database role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (707,3,''Drop member from database role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (708,3,''Add database role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (709,3,''Drop database role'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (710,3,''Add login'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (711,3,''Drop login'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (712,3,''App role change password'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (713,3,''Password change - self'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (714,3,''Password change'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (715,3,''Login change default database'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (716,3,''Login change default language'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (717,3,''Grant login'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (718,3,''Revoke login'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (719,3,''Deny login'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (720,3,''Server Object Change Owner'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (721,3,''Change Database Owner'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (722,3,''Database Object Change Owner'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (723,3,''Schema Object Change Owner'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (724,3,''Credential mapped to login'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (725,3,''Credential map dropped'',''Security'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1000,3,''Grant statement permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1100,3,''Deny statement permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1200,3,''Revoke statement permission'',''Security'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1600,2,''Access'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1700,2,''Transfer'',''DDL'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1703,2,''Transfer user object'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1705,2,''Transfer DEFAULT'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1708,2,''Transfer stored procedure'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1709,2,''Transfer UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1710,2,''Transfer rule'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1711,2,''Transfer repl filter stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1712,2,''Transfer system table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1714,2,''Transfer inline function'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1715,2,''Transfer table valued UDF'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1717,2,''Transfer user table'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1718,2,''Transfer view'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1719,2,''Transfer ext stored proc'',''DDL'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1728,2,''Transfer CLR Stored Procedure'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1735,2,''Transfer CLR Aggregate Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1736,2,''Transfer Partition Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1737,2,''Transfer Table Valued SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1751,2,''Transfer Scalar SQL Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1753,2,''Transfer Synonym'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1755,2,''Transfer Service Broker Service Queue'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1761,2,''Transfer CLR Scalar Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1763,2,''Transfer User'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1765,2,''Transfer CLR Table Valued Function'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1769,2,''Transfer User'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1772,2,''Transfer XML Schema'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1773,2,''Transfer Type'',''DDL'',1,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1800,9,''User Configurable 0'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1801,9,''User Configurable 1'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1802,9,''User Configurable 2'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1803,9,''User Configurable 3'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1804,9,''User Configurable 4'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1805,9,''User Configurable 5'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1806,9,''User Configurable 6'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1807,9,''User Configurable 7'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1808,9,''User Configurable 8'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (1809,9,''User Configurable 9'',''User Defined'',0,1)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (900001,4,''Encrypted'',''DML'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (999997,0,''Missing events'',''Integrity Check'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (999998,0,''Events inserted'',''Integrity Check'',0,0)');
	EXEC(N'INSERT INTO [EventTypes] ([evtypeid],[evcatid],[name],[category],[is2005Only],[isExcludable])	VALUES (999999,0,''Event modified'',''Integrity Check'',0,0)');
END

GO
