/****** Object:  StoredProcedure [dbo].[sp_MSins_dbaMasterCity]    Script Date: 7/14/2015 7:29:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [sp_MSins_dbaMasterCity]
    @c1 int,
    @c2 int,
    @c3 nvarchar(10),
    @c4 nchar(1),
    @c5 nvarchar(100),
    @c6 nvarchar(10),
    @c7 nvarchar(100),
    @c8 int,
    @c9 nvarchar(10),
    @c10 nvarchar(100),
    @c11 nchar(3),
    @c12 nchar(3),
    @c13 nchar(2),
    @c14 tinyint,
    @c15 int,
    @c16 int,
    @c17 int,
    @c18 int,
    @c19 int,
    @c20 datetime,
    @c21 datetime,
    @c22 datetime,
    @c23 decimal(9,6),
    @c24 decimal(9,6)
as
begin  
	insert into [dba].[MasterCity](
		[MasterCityID],
		[MasterCountryID],
		[StationCode],
		[TypeCode],
		[StationName],
		[CityCode],
		[CityName],
		[MasterStateProvID],
		[MetroCode],
		[MetroName],
		[CurrCode],
		[PhoneCode],
		[TimeZoneCode],
		[TimeZoneDiff],
		[MCTMax],
		[MCTDomDom],
		[MCTDomInt],
		[MCTIntDom],
		[MCTIntInt],
		[BeginDate],
		[EndDate],
		[InsertDate],
		[Latitude],
		[Longitude]
	) values (
    @c1,
    @c2,
    @c3,
    @c4,
    @c5,
    @c6,
    @c7,
    @c8,
    @c9,
    @c10,
    @c11,
    @c12,
    @c13,
    @c14,
    @c15,
    @c16,
    @c17,
    @c18,
    @c19,
    @c20,
    @c21,
    @c22,
    @c23,
    @c24	) 
end  

GO
